@import '_settings'

normalize-css()
base()


img
  width: 400px
  height: 300px

h3
  color: #FFA500
  text-align: center
  font-size: 90px
  line-height: 15px

ul
  padding: 0
  margin: 50px auto
  display: block
  width: 100%
  position: relative
  overflow: hidden

li
  display: block
  float: left
  list-style: none
  width: 33.3333333%

a
  display: block
  text-decoration: none
  color: #FFA500
  font-weight: bold
  margin-top: 80px
  font-size: 50px

div
  text-align: center
